include ./ie.pug
include ./ga.pug
include ./utils.pug

-
  const {
    PROFILE: {
      values: [profile],
    },
    EMAIL_ADDRESSES: {
      values: [email],
    },
    MISC: {
      name
    },
  } = data;
  const inlineStyles = `${meta.inlineStyles.import}${meta.inlineStyles.base}`;
doctype html
html(lang='en')
  head
    +addGa('/imprint', 'Imprint')
    title=`Imprint | ${name} - ${profile.headline}`
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content=`Imprint of ${name}'s personal website`)
    meta(name='author', content=name)
    +ieStyle('if lte IE 11')
    link(rel='stylesheet', href='../styles/standard.css')
    link(rel='shortcut icon' href=email.favicon)
    link(
      rel='stylesheet',
      href='https://use.fontawesome.com/releases/v5.7.2/css/all.css',
      integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr',
      crossorigin='anonymous'
    )
    style !{inlineStyles}
  body
    +ieElements()
    article.warn(style={ display: 'none' })
      h4 This website is optimized for mobile devices
    main !{markdown.imprint}
    i.fas.fa-palette.invert
    +addNav()
    +addGlobals()
    script(src='../src/standard.js')