include ./sections.pug
include ./ie.pug
include ./ga.pug

-
  const {
    PROFILE: {
      values: [profile],
    },
    EMAIL_ADDRESSES: {
      values: [email],
    },
    MISC: {
      name
    },
  } = data;
doctype html
html(class='no-js', lang='en')
  head
    +addGa('/', 'index')
    title=`${name} - ${profile.headline}`
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content=profile.summary)
    meta(name='author', content=name)
    +ieStyle('if lte IE 11')
    link(rel='stylesheet', href='../styles/index.css')
    link(rel='stylesheet', href='../styles/media.css')
    link(rel='shortcut icon' href=email.favicon)
    link(
      rel='stylesheet',
      href='https://use.fontawesome.com/releases/v5.7.2/css/all.css',
      integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr',
      crossorigin='anonymous'
    )
    style !{meta.inlineStyles}
  body

    +ieElements()
    main
      article.warn(style={ display: 'none' })
        h4 This website is optimized for mobile devices
      section.background
        i.fas.fa-palette.invert
        div.container(style={ 'max-height': `${100 - (meta.stacks.length) * 5}%` })
          each key in meta.background.keys
            div.animated-load
              +router(key)
          nav.animated-load
            h3 navigation
            a(href='/imprint') Imprint
            if config.hasGA
              a(href='/privacy-policy') Privacy policy
            a(href='/linkedin-portfolio-website') Linkedin Portfolio Website
      span.stacks
        each section, i in meta.stacks
          +renderStack(section, i + 1, meta.stacks)
    +addGlobals()
    script(src='../src/index.js')
