include ./ie.pug
include ./ga.pug
include ./utils.pug

-
  const {
    PROFILE: {
      values: [profile],
    },
    EMAIL_ADDRESSES: {
      values: [email],
    },
    MISC: {
      name
    },
  } = data;
doctype html
html(lang='en')
  head
    +addGa('/privacy-policy', 'Privacy Policy')
    title=`Privacy Policy | ${name} - ${profile.headline}`
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content=`Privacy policy of ${name}'s personal website`)
    meta(name='author', content=name)
    +ieStyle('if lte IE 11')
    link(rel='stylesheet', href='../styles/legal.css')
    link(rel='shortcut icon' href=email.favicon)
  body
    +ieElements()
    main !{markdown.privacyPolicy}
    +addNav()
    +addGlobals()