include ./utils.pug

mixin renderHeader({ PROFILE, EMAIL_ADDRESSES, MISC })
  -
    const { values: [profile] } = PROFILE;
    const { values: [email] } = EMAIL_ADDRESSES;
    const { name } = MISC;
  header.animated-load
    div
      h1=name
      h2=profile.headline
    figure.avatar.avatar-xl
      img(src=email.gravatar)

mixin renderSummary({ values })
  - const [profile] = values;
  blockquote=profile.summary

mixin renderProfile({ values, title, header })
  article
    - const value = values[0]
    each item in convertArray(value.instantmessengers)
      -
        const { key, value: user } = item;
        const icon = getIcon(config.icons, `${key}:${user}`);
      p
        i(
          class=['contact', icon]
        )
        =user
    each item in convertArray(values[0].twitterhandles)
      -
        const { value: handle } = item;
      p
        a(
          href=`https://twitter.com/${handle}`,
          target='_blank'
        )
          i.fab.fa-twitter.contact
          =`@${handle}`
    - const websites = convertArray(value.websites)
    if websites.length
      h3 urls
    each item in convertArray(value.websites)
      -
        const { key, value: url } = item;
        const icon = getIcon(config.icons, `${key}:${url}`);
      p
        a(
          href=!url.startsWith('http') ? `http://${url}` : url,
          target='_blank'
        )
          i(
            class=['contact', icon]
          )
          =url.replace(/http[s]?:\/\//, '')
    if value.industry || value.geolocation
      h3 other
    if value.industry
      p
        i(
          class=['contact', config.icons.industry]
        )
        =value.industry
    if value.geolocation
      p
        a(
          href=`https://www.google.com/maps/search/${encodeURI(value.geolocation)}`,
          target='_blank'
        )
          i(
            class=['contact', 'fas fa-map-marker-alt']
          )
          =value.geolocation

mixin renderEmails({ values, title, header })
  article
    h3 contact
    each email in values
      p
        a(
          href=`mailto:${email.emailaddress}`,
          target='_blank'
        )
          i.far.fa-paper-plane.contact
          =email.emailaddress

mixin renderLanguages({ values, title, header })
  article
    each lang in values
      li
        span=lang.name
        small.tile-subtitle.variant=` (${lang.proficiency})`

mixin renderProjects({ values, title, header })
  article
    div.timeline
      each project, i in values
        - const id = `timeline_projects_${i}`
        div(
          class='timeline-item',
          id=id
        )
          div.timeline-left
            a(
              class='timeline-icon icon-lg',
              href=`#${id}`
            )
                i.icon
          div.timeline-content
            div.tile.tile-centered
              div.tile-content
                h4.tile-title=project.title
                p.tile-subtitle.description=project.description.replace('  ', '\n\n')
                small.tile-subtitle.variant
                  =`${fromTo(project.startedon, project.finishedon)}`
                  if project.url
                    =' · '
                    a.variant(
                      href=project.url, target='_blank'
                    ) more

mixin renderEducation({ values, title, header })
  article
    div.timeline
      each edu, i in values
        - const id = `timeline_educations_${i}`
        div(
          class='timeline-item',
          id=id
        )
          div.timeline-left
            a(
              class='timeline-icon icon-lg',
              href=`${id}`
            )
              if !i
                i.icon
          div.timeline-content
            div.tile.tile-centered
              div.tile-content
                h4.tile-title=edu.schoolname
                p.tile-subtitle.description=edu.degreename
                p.tile-subtitle.description=edu.notes.replace('  ', '\n\n')
                small.tile-subtitle.variant
                  span=fromTo(edu.startdate, edu.enddate, true)

mixin renderCertifications({ values, title, header })
  article
    div.timeline
      each cert, i in values
        - const id = `timeline_certifications_${i}`
        div(
          class='timeline-item',
          id=id
        )
          div.timeline-left
            a(
              class='timeline-icon icon-lg',
              href=`#${id}`
            )
              if !i
                i.icon
          div.timeline-content
            div.tile.tile-centered
              div.tile-content
                h4.tile-title=cert.name
                p.tile-subtitle.description=`${cert.authority}${cert.url ? ` (${cert.licensenumber})` : ''}`
                small.tile-subtitle.variant
                  =fromTo(cert.startedon, cert.finishedon)
                  if cert.url
                    =' · '
                    a.variant(
                      href=cert.url, target='_blank'
                    ) more

mixin renderPositions({ values, title, header })
  article
    div.timeline
      each position, i in values
        - const id = `timeline_positions_${i}`
        div(
          class='timeline-item',
          id=id
        )
          div.timeline-left
            a(
              class='timeline-icon icon-lg',
              href=`#${id}`
            )
              if !i
                i.icon
          div.timeline-content
            div.tile.tile-centered
              div.tile-content
                h4.tile-title=position.companyname
                p.tile-subtitle.description=position.title
                p.tile-subtitle.description=position.description.replace('  ', '\n\n')
                small.tile-subtitle.variant
                  span=`${fromTo(position.startedon, position.finishedon, true)} `
                  span=position.location ? `· ${position.location}` : ''

mixin renderSkills({ values, title, header })
  article
    each name in values.map(({name}) => name.trim()).sort()
      span.chip=name

mixin router(key)
  - const partial = data[key]
  case key
    when 'HEADER'
      +renderHeader(data)
    when 'SUMMARY'
      +renderSummary(data.PROFILE)
    when 'PROFILE'
      +renderProfile(partial)
    when 'EMAIL_ADDRESSES'
      +renderEmails(partial)
    when 'LANGUAGES'
      +renderLanguages(partial)
    when 'PROJECTS'
      +renderProjects(partial)
    when 'EDUCATION'
      +renderEducation(partial)
    when 'CERTIFICATIONS'
      +renderCertifications(partial)
    when 'POSITIONS'
      +renderPositions(partial)
    when 'SKILLS'
      +renderSkills(partial)

mixin renderStack(section, i, sections)
  -
    const sectionLength = sections.length;
    const revIdx = sectionLength - i;
  section(
    id=`stack-${i}`,
    class=['stack', 'draggable', 'collapsed']
    data-index=i
    style={
      top: `${95 - 5 * revIdx}%`,
      width: `${97.5 - 3 * i}%`,
      'transition-delay': `${200 + 25 * revIdx}ms`
    }
  )
    div.container(style={
      height: `calc(${100 - 5 * revIdx}% - 1rem)`
    })
      h2=section.title
      div.articles
        each key in section.keys
          +router(key)
        block