-
  const { background, stacks } = meta;
  const stackStyles = stacks
  .map(({ backgroundcolor, fontcolor }, i) => {
    const parentSelector = `.stacks #stack-${i + 1}`;
    return `\
      ${parentSelector} {
        background-color: ${backgroundcolor};
        color: ${fontcolor};
      }\
    `;
  })
  .join('\n');

mixin inlineStyles()
  style.
    main, section.background {
      background-color: !{background.backgroundcolor};
      color: !{background.fontcolor};
    }
    !{stackStyles}
